// :host router-outlet{
//     margin: 5px;
// }
@use 'variables' as *;

:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @media (max-width: $mobile) {
    height: 100%;
  }
}

lms-header {
  width: 100%;
  height: 100%;
  display: block;
}
