<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="main-nav">
    <div class="nav-branding">
      <mat-icon>Local Library</mat-icon>
      <div class="brand-text">
        <span class="title">Library System</span>
        <span class="subtitle">Management Portal</span>
      </div>
    </div>

    <div class="nav-button-list">
      @for (item of navItems; track $index) {
        <a
          mat-flat-button
          [routerLink]="item.link"
          routerLinkActive="active-btn"
          class="sidebar-btn"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label | translate }}
        </a>
      }
    </div>
    <div class="nav-auth-section">
      @if (isLoggedIn()) {
        <div class="profile-container" [matMenuTriggerFor]="profileMenu">
          <div class="user-avatar">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="user-info">
            <span class="user-name" [innerText]="loggedInUser()!.name"></span>
            @if (loggedInUser()!.role === "admin") {
              <span
                class="user-role"
                [innerText]="'core.role.admin' | translate"
              ></span>
            } @else {
              <span
                class="user-role"
                [innerText]="'core.role.user' | translate"
              ></span>
            }
          </div>
        </div>
      } @else {
        <div class="profile-container" (click)="login()">
          <div class="user-avatar">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="user-info">
            <span [innerText]="'shared.header.login' | translate"></span>
          </div>
        </div>
      }
    </div>

    <mat-menu #profileMenu="matMenu" xPosition="after">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span [innerText]="'shared.header.viewProfile' | translate"></span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span [innerText]="'shared.header.accountSettings' | translate"></span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()" class="logout-item">
        <mat-icon>logout</mat-icon>
        <span [innerText]="'shared.header.signOut' | translate"></span>
      </button>
    </mat-menu>
  </mat-sidenav>

  <mat-sidenav-content class="content-area">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
